@model Employee
 @{
    ViewData["Title"] = "Employee Create";
}
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-8">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Create</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-controller="Employee" asp-action="Create" method="POST">
                <div class="card-body">
                    <div class="col-md-9 form-group"><!--asp-for tag helper-->
                    <label asp-for="FirstName">First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                          <input asp-for="FirstName" name = "FirstName" class="form-control" type="text" placeholder="Enter FirstName">      
                  </div>
                    <div class="col-md-9 form-group">
                    <label asp-for="LastName"> LastName</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                          <input asp-for="LastName" name = "LastName" class="form-control" type="text" placeholder="Enter LastName" required>      
                  </div>
                  <div class="col-md-6 form-group">
                    <label asp-for="Address"> Address</label>
                          <textarea asp-for="Address" name = "address" class="form-control" type="text" placeholder="Enter Address" required>  
                          </textarea>    
                  </div>
                  <div class="col-md-6 form-group">
                    <label asp-for="Age"> Age</label>
                          <input asp-for="Age" name = "age" class="form-control" type="number" placeholder="Enter Age" required>      
                  </div>
                  <div class="col-md-6 form-group">
                    <label asp-for="Salary"> Salary</label>
                          <input asp-for="Salary" name = "salary" class="form-control" type="number" step="0.01" placeholder="Enter Salary" required>      
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

            